{% extends 'base.html' %} {% block content %} {% load static %}
<h1>DETAIL</h1>

<p>제목: {{ review.title }}</p>
<p>내용: {{ review.content }}</p>
<p>영화: {{ review.movie }}</p>
<p>
  평점: {% if review.score == 5 %}
  <img
    class="d-inline"
    style="width: 25px"
    src="{% static 'star.png' %}"
    alt=""
  />
  <img
    class="d-inline"
    style="width: 25px"
    src="{% static 'star.png' %}"
    alt=""
  />
  <img
    class="d-inline"
    style="width: 25px"
    src="{% static 'star.png' %}"
    alt=""
  />
  <img
    class="d-inline"
    style="width: 25px"
    src="{% static 'star.png' %}"
    alt=""
  />
  <img
    class="d-inline"
    style="width: 25px"
    src="{% static 'star.png' %}"
    alt=""
  />

  {% elif review.score == 4 %}
  <img
    class="d-inline"
    style="width: 25px"
    src="{% static 'star.png' %}"
    alt=""
  />
  <img
    class="d-inline"
    style="width: 25px"
    src="{% static 'star.png' %}"
    alt=""
  />
  <img
    class="d-inline"
    style="width: 25px"
    src="{% static 'star.png' %}"
    alt=""
  />
  <img
    class="d-inline"
    style="width: 25px"
    src="{% static 'star.png' %}"
    alt=""
  />

  {% elif review.score == 3 %}
  <img
    class="d-inline"
    style="width: 25px"
    src="{% static 'star.png' %}"
    alt=""
  />
  <img
    class="d-inline"
    style="width: 25px"
    src="{% static 'star.png' %}"
    alt=""
  />
  <img
    class="d-inline"
    style="width: 25px"
    src="{% static 'star.png' %}"
    alt=""
  />

  {% elif review.score == 2 %}
  <img
    class="d-inline"
    style="width: 25px"
    src="{% static 'star.png' %}"
    alt=""
  />
  <img
    class="d-inline"
    style="width: 25px"
    src="{% static 'star.png' %}"
    alt=""
  />

  {% else %}
  <img
    class="d-inline"
    style="width: 25px"
    src="{% static 'star.png' %}"
    alt=""
  />

  {% endif %}
</p>

<a href="{% url 'reviews:index' %}">back</a>
<a href="{% url 'reviews:update' review.pk %}">update</a>
<form action="{% url 'reviews:delete' review.pk %}" method="post">
  {% csrf_token %}
  <input type="submit" value="삭제" />
</form>

<form action="{% url 'reviews:comment_create' review.pk %}" method="post">
  {% csrf_token %} {{ comment_form.as_p }}
  <input type="submit" />
</form>

{% for comment in comments %}
<p>{{comment.content}}</p>

<form
  action="{% url 'reviews:comment_delete' review.pk comment.pk %}"
  method="post"
>
  {% csrf_token %}
  <input type="submit" value="삭제" />
</form>

<hr />
{% endfor %} {% endblock content %}
